#board {
  padding: 3em;
}

h1 {
    text-align: center;
}

.row {
    clear: left;
    margin: 0 auto;
    width: 302px;
}

.row > div {
    float: left;
    height: 100px;
    width: 100px;
}

.top {
    border-bottom: 1px black solid;
}

.bottom {
    border-top: 1px black solid; 
}

.left {
    border-right: 1px solid black;
}

.right {
    border-left: 1px solid black;
}