@font-face {
  font-family: 'outerspaceMilitia';
  src: url(Fonts/OuterspaceMilitia.ttf) 
}

#board {
  padding-top: 3em;
  text-align: center;
  font-family: monospace;
}

h2 {
  color: white;
}


body {
  background-image: url(spacetime.jpg);
}

h1 {
  font-family: outerspaceMilitia;
  font-weight: 100;
  color: white
}

.row {
  clear: both;
  margin: 0 auto;
  width: 304px;
}

.btn-center {
  display: block;
  margin: 0 auto;
  margin-left: 869px;
  margin-top: 138px;
  box-shadow: 0px 10px 14px -7px #3e7327;
  background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
  background-color:#77b55a;
  border-radius: 30%;
  font-size: 18px;
  padding: 15px 20px;
  
}

.row > div {
  float: left;
  height: 100px;
  width: 100px;
  cursor: pointer;
  line-height: 100px;
  font-size: 75px;
  font-family: outerspaceMilitia;
  color: white;
}

.top {
  border-bottom: 2px white solid;
}

.bottom {
  border-top: 2px white solid;
}

.left {
  border-right: 2px solid white;
}

.right {
  border-left: 2px solid white;
}
